.persona {
    display: flex;
    flex-direction: column;

}
.personas {
    display: flex;
    padding-top: 3rem;
    justify-content: space-around; /*uno al lado de otro del mismo tamaño*/
}
@media screen and (min-width: 0) {
    .persona {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) { /*para table*/
    .persona {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 0) {
    .personas {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) { /*para table*/
    .personas {
        flex-direction: row;/*como fila*/
    }
}